
.save {
    position: relative;
    width: 34px;
    height: 34px;
    display: block;
  }
  
  .save input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    width: 22px;
    height: 22px;
  }
  .save label {
    position: relative;
  }
  .save label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 26px;
    height: 26px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #D1D5DB;
  }
  .save label:after {
    content: '';
    display: block;
    width: 14px;
    height: 7px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 12px;
    left: 10px;
  }
  .save input[type="checkbox"]:checked ~ label::before {
    background-color: #FF588A;
    border: none;
  }

  .save input[type="checkbox"]:checked ~ label::before {
    background-color: #24CF5F;
    border: none;
  }
  
  .save input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-100deg) scale(1);
    transform: rotate(-50deg) scale(1);
  }
  
  .save label {
    min-height: 34px;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    /* vertical-align: sub; */
  }
  .save label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .save input[type="checkbox"]:focus + label::before {
    outline: 0;
  }