@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PoppinsRegular";
    src: url("../public/assets/fonts/Poppins/Poppins-Regular.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "PoppinsSemibold";
    src: url("../public/assets/fonts/Poppins/Poppins-SemiBold.ttf")
      format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url("../public/assets/fonts/Poppins/Poppins-Bold.ttf")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  font-family: "Poppins", sans-serif;
  /* @apply font-PoppinsRegular; */
}

footer {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  background: #fff;
  color: #000000;
  flex-direction: column;
  font-family: "Poppins", sans-serif !important;
}

header {
  border-bottom: 2px solid #dce3ec;
}

@media only screen and (max-width: 450px) {
  header {
    border-bottom: none;
  }
}

.site-container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* ///// */

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("../public/assets/images/main-slider.svg");
  cursor: pointer;
  border: none;
}
::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3a7bec;
  cursor: pointer;
  border: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
  background: #ebeafa !important;
}

.swiper-pagination-bullet-active {
  background: #7d66bb !important;
  width: 32px !important;
  border-radius: 10px !important;
}

.pdf-container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.controls {
  margin: 20px;
}

.annotationLayer {
  height: 0 !important;
}

.interface:hover {
  max-width: 600px;
  width: 100%;
}

.slideCard {
  transition: all 0.5s ease;
}

.slideCard__three {
  transform: translateX(-50%);
}

.slideCard__three:hover {
  transform: translateX(-100%);
}

.slideCard__two:hover {
  transform: translateX(-50%);
}

/* .slideCardWrapper li:nth-child(3):hover ~ li:nth-child(2) {
  transform: translateX(-50%) !important;
} */

.slideCardSecond__three {
  transform: translateX(-50%);
}

.slideCardSecond__three:hover {
  transform: translateX(-100%);
}

.slideCardSecond__two:hover {
  transform: translateX(-50%);
}

/* .slideCardWrapper li:nth-child(3):hover ~ li:nth-child(2) {
  transform: translateX(-50%) !important;
} */

.equipment-bg-red {
  background: radial-gradient(
    50% 49.92% at 50% 49.92%,
    rgba(255, 88, 138, 0.27) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  transform: rotate(-47.62deg);
  position: absolute;
  z-index: -1;
  right: 10rem;
  top: 0;
}
.equipment-bg-blue {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(79, 70, 229, 0.4) 0%,
    rgba(79, 70, 229, 0) 100%
  );
  position: absolute;
  z-index: -1;
  right: 4rem;
  top: 7rem;
  /* background-position: center; */
}

.slideInfo {
  box-shadow: 0px -11px 41px rgba(45, 45, 45, 0.12);
}

.animate-equipment-card {
  animation-name: linearDarker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 3s;
}

.animate-equipment-card .odd {
  background-color: #eeeff0;
}

@keyframes linearDarker {
  0% {
    background-color: white;
    border-radius: 0px;
    /* width: 100%; */
    width: 100%;
  }

  10% {
    background-color: #eeeff0;
    padding-left: 20px;
    border-radius: 0px;
    /* width: 100%; */
  }

  80% {
    background-color: #eeeff0;
    /* background-color: red; */
    padding-left: 20px;
    border-radius: 0px;
    /* width: 100%; */
  }

  90% {
    background-color: white;
  }
}

.animate-equipment-card-even {
  animation-name: linearEvenDarker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 3s;
}

@keyframes linearEvenDarker {
  0% {
    border-radius: 0px;
    transform: translate(0%);
    width: 100%;
  }

  10% {
    padding-left: 20px;
    border-radius: 0px;
  }

  80% {
    padding-left: 20px;
    border-radius: 0px;
  }
  90% {
    background-color: white;
  }
}

@media print {
  .pdf-container {
    display: none;
  }
}
